{% extends 'base.html.twig' %}

{% block contenu %}
        <div class="row">

		<!-- affichage de la liste des billets -->
		{% if liste is defined %}
			{% set i = 0 %}
			{% for billet in liste %}
			
				<div class="col-md-8 well">

					<h2>
						<a href="/post/{{billet.id ~ "-" ~ billet.slug}}">{{ billet.titre }}</a>
					</h2>

					{% if billet.modifie == false %}
						<p><span class="glyphicon glyphicon-time"></span> Posté le {{ billet.date|date('d/m/Y')}} par {{billet.auteur.username}}</p>
					{% else %}
						<p><span class="glyphicon glyphicon-time"></span> Modifié le {{ billet.date|date('d/m/Y')}} par {{billet.auteur.username}}</p>
					{% endif %}
					
					{% if billet.fileExists %}
						<br>
						<img class="img-responsive" src={{asset(billet.getPhotoUploadDir) ~ '/' ~ billet.id ~ '_' ~ billet.photo}} alt="">
					{% endif %}
						
					<br>
					<p>{{billet.contenu|slice(0, 100) ~ '...'}}</p>
					<hr>
					<a class="btn btn-primary" href="/post/{{billet.id ~ "-" ~ billet.slug}}">En lire plus <span class="glyphicon glyphicon-chevron-right"></span></a>
					
					{% if nbLikeBillet is defined %}
						<br><br>
						{% if nbLikeBillet[i] == 0 %}
							<p>Soyez la première personne à aimer ça.</p>
						{% elseif nbLikeBillet[i] == 1 %}
							<p>{{nbLikeBillet[i]}} personne aime ça.</p>
						{% else %}
							<p>{{nbLikeBillet[i]}} personnes aiment ça.</p>
						{% endif %}

						{% if user is defined %}
							{% if likeBillet[i] is defined and likeBillet[i] is not null %}
								<a class="btn btn-danger" href="/like/{{billet.id}}"><span class="glyphicon glyphicon-thumbs-down"></span> Je n'aime plus</a>
							{% else %}
								<a class="btn btn-success" href="/like/{{billet.id}}"><span class="glyphicon glyphicon-thumbs-up"></span> J'aime</a>
							{% endif %}
						{% else %}
							<a class="btn btn-success" href="/login"><span class="glyphicon glyphicon-log-in"></span> Connectez-vous pour pouvoir liker ce billet</a>
						{% endif %}
					{% endif %}	

				</div>

				{% if i == 0 %} 

					<div class="col-md-4">

						<div class="well">
							<h4>A propos ...</h4>
							<p>Le blog de Fabien, Pierre et Axel.</p>
						</div>

					</div>
				{% endif %}
				{% set i = i + 1 %}
			{% endfor %}
		{% endif %}
            
		<!-- si pas de liste, on affiche un message indiquant qu'il n'y a pas de billets -->
		{% if listeVide is defined %}
			<p class="lead">
				{{listeVide}}
			</p>
		{% endif %}

        </div>
{% endblock %}