{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">

		<!-- affichage de la liste des billets -->
		{% if billet is defined %}
			<!-- Blog Entries Column -->
			<div class="col-md-8">

				<h2>
					<a href="#">{{ billet.titre }}</a>
				</h2>
				
				{% if billet.modifie == false %}
					<p><span class="glyphicon glyphicon-time"></span> Posté le {{ billet.date|date('d/m/Y')}} par {{billet.auteur.username}}</p>
				{% else %}
					<p><span class="glyphicon glyphicon-time"></span> Modifié le {{ billet.date|date('d/m/Y')}} par {{billet.auteur.username}}</p>
				{% endif %}
				{% if billet.fileExists %}
						<hr>
						<img class="img-responsive" src={{asset(billet.getPhotoUploadDir) ~ '/' ~ billet.id ~ '_' ~ billet.photo}} alt="">
				{% endif %}
				<hr>
				<p>{{billet.contenu}}</p>

				<hr>
			</div>
		{% endif %}
            
		<!-- si pas de liste, on affiche un message indiquant qu'il n'y a pas de billets -->
		{% if listeVide is defined %}
			<p class="lead">
				listeVide
			</p>
		{% endif %}
			
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>A propos ...</h4>
                    <p>Le blog de Fabien, Pierre et Axel.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
{% endblock %}

