{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">

		<!-- affichage de la liste des billets -->
		{% if billet is defined %}
			<!-- Blog Entries Column -->
			<div class="col-md-8 well">

				<h2>
					{{ billet.titre }}
				</h2>
				
				{% if billet.modifie == false %}
					<p><span class="glyphicon glyphicon-time"></span> Posté le {{ billet.date|date('d/m/Y')}} par {{billet.auteur.username}}</p>
				{% else %}
					<p><span class="glyphicon glyphicon-time"></span> Modifié le {{ billet.date|date('d/m/Y')}} par {{billet.auteur.username}}</p>
				{% endif %}
				{% if billet.fileExists %}
						<br>
						<img class="img-responsive" src={{asset(billet.getPhotoUploadDir) ~ '/' ~ billet.id ~ '_' ~ billet.photo}} alt="">
				{% endif %}
				<br>
				<p>{{billet.contenu}}</p>

				<hr>
				{% if nbLikeBillet is defined %}
					{% if nbLikeBillet == 0 %}
						<p>Soyez la première personne à aimer ça.</p>
					{% elseif nbLikeBillet == 1 %}
						<p>{{nbLikeBillet}} personne aime ça.</p>
					{% else %}
						<p>{{nbLikeBillet}} personnes aiment ça.</p>
					{% endif %}

					{% if user is defined %}
						{% if likeBillet is defined and likeBillet is not null %}
							<a class="btn btn-danger" href="/likeBillet/{{billet.id}}"><span class="glyphicon glyphicon-thumbs-down"></span> Je n'aime plus</a>
						{% else %}
							<a class="btn btn-success" href="/likeBillet/{{billet.id}}"><span class="glyphicon glyphicon-thumbs-up"></span> J'aime</a>
						{% endif %}
					{% else %}
						<a class="btn btn-success" href="/login"><span class="glyphicon glyphicon-log-in"></span> Connectez-vous pour pouvoir liker ce billet</a>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
            
		<!-- si pas de liste, on affiche un message indiquant qu'il n'y a pas de billets -->
		{% if listeVide is defined %}
			<p class="lead">
				listeVide
			</p>
		{% endif %}
			
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>A propos ...</h4>
                    <p>Le blog de Fabien, Pierre et Axel.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
{% endblock %}

