{% block fos_user_content %}

	<div>
		<form class="form-signin" action="{{ path("fos_user_registration_register") }}" method="post">
			<h2>
				Inscrivez-vous !
			</h2>
				{{ form_row(form._token) }}

				<label>E-mail : </label>
				{{ form_widget(form.email, { 'attr': {'class': 'form-control' }}) }}

				<label>Pseudo : </label>
				{{ form_widget(form.username, { 'attr': {'class': 'form-control' }}) }}

				<label>Mot de passe : </label>
				{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control' }}) }}

				<label>Mot de passe confirmation : </label>
				{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control' }}) }}<br>

			<div>
				<input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'Valider'|trans }}" />
			</div>
		</form
	</div>

{% endblock fos_user_content %}

